<div class="container text-center single-col-max-width">
 
       
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
          <div class="row">
            <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
              <h1 class="m-0">404</h1>
              <h6>Page not found</h6>
                <p><span class="text-info"> Sorry, an error has occured, Requested page not found!</span>
				</p>
				<a routerLink="/home" class="btn btn-primary btn-lg"> <fa-icon [icon]="faHome" ></fa-icon> Take Me Home </a>
            </div>
          </div>
        </div>
       
</div><!--//container-->











