  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Lorem ipsum dolor sit amet,<i> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</i> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="javascript:void(0)">C</a></li>
              <li><a href="javascript:void(0)">UI Design</a></li>
              <li><a href="javascript:void(0)">PHP</a></li>
              <li><a href="javascript:void(0)">Java</a></li>
              <li><a href="javascript:void(0)">Android</a></li>
              <li><a href="javascript:void(0)">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="javascript:void(0)">About Us</a></li>
              <li><a href="javascript:void(0)">Contact Us</a></li>
              <li><a href="javascript:void(0)">Contribute</a></li>
              <li><a href="javascript:void(0)">Privacy Policy</a></li>
              <li><a href="javascript:void(0)">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <small class="copyright" class="text-white">Made with <font color="red">❤</font> by Abbassi Zied for Software Developers</small>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="javascript:void(0)"><fa-icon [icon]="faFacebook" ></fa-icon></a></li>
              <li><a class="twitter" href="javascript:void(0)"><fa-icon [icon]="faTwitter" ></fa-icon></a></li>
              <li><a class="dribbble" href="javascript:void(0)"><fa-icon [icon]="faDribbble" ></fa-icon></a></li>
              <li><a class="linkedin" href="javascript:void(0)"><fa-icon [icon]="faLinkedin" ></fa-icon></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>